<!-- Javascript -->
<script src="{{ asset_path }}javascripts/details.polyfill.js"></script>
<script src="{{ asset_path }}javascripts/vendor/jquery/jquery-1.11.3.min.js"></script>

<!--[if IE 8]>
<script src="{{ asset_path }}javascripts/vendor/polyfills/bind.js"></script>
<script src="{{ asset_path }}javascripts/vendor/polyfills/es5-shim.min.js"></script>
<script src="{{ asset_path }}javascripts/vendor/polyfills/es5-sham.min.js"></script>
<![endif]-->

<script src="{{ asset_path }}javascripts/govuk/selection-buttons.js"></script>
<script src="{{ asset_path }}javascripts/application.js"></script>
<script src="{{ asset_path }}javascripts/appconfig.js"></script>

