{% extends "content/templates/layouts/_app.njk" %}

{# data objects for this page #}
  {% set templateData %}
    {% include 'content/data/details.json' %}
  {% endset %}
{# end of data objects #}

{% block content %}
{% if page_header_local %}{{ page_header_local|safe}}{% else %}{{ page_header|safe }}{% endif %}

<div id='applicant-details' class='hidden' class="transaction hidden">
  <form id="details" action="xxxx" method="post" class="form">
    <div>
      <h2 class="heading-medium page-title no-bottom-margin" >Course details</h2>
      <p class="form-hint text">Enter the course details from CAS</p>

      <table>
        <tbody>
          <tr>
            <th>Sponsor name:</th>
            <td class="no-padding wide-cell" id="sponsor">{% raw %}{{ data.sponsor }}{% endraw %}</td>
          </tr>
          <tr>
            <th>Course:</th>
            <td class="no-padding wide-cell">{{ text_input_macro.text_component(data = (templateData | tojson('courseTitle') )) }}</td>
          </tr>
          <tr>
            <th>Course level:</th>
            <td class="no-padding wide-cell">{{ text_input_macro.text_component(data = (templateData | tojson('courseLevel') )) }}</td>
          </tr>
          <tr>
            <th class="top-align">Main study address:</th>
            <td class="no-padding wide-cell">{{ textarea_input_macro.textarea_component(data = (templateData | tojson('studyAddress') )) }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div>
      <h2 class="heading-medium add-top-margin no-bottom-margin">Applicant details</h2>
      <table>
        <tbody>
          <tr>
            <th>Unique application no.</th>
            <th>Name</th>
            <th>Passport no.</th>
            <th>Police reg.</th>
            <th>Preview</th>
          </tr>
          <tr>
            <td id="uan">{% raw %}{{ data.uan }}{% endraw %}</td>
            <td id="name">{% raw %}{{ data.name }}{% endraw %}</td>
            <td id="passportNo">{% raw %}{{ data.passportNo }}{% endraw %}</td>
            <td id="policeRegistration">{% raw %}{{ data.policeRegistration }}{% endraw %}</td>
            <td>
              <details role="group" >
              <summary role="button" aria-controls="details-content-0" aria-expanded="true">
              <span class="summary">Preview email</span>
              </summary>
              
              </details>
            </td>
          </tr>
          <tr>
            <td class="no-bottom-border" colspan="5">
              
            </td>
          </tr>
        </tbody>
      </table>
      </div>

      {{ radio_buttons_macro.radio_component(data = (templateData | tojson('confirm') )) }}
        <div class="panel panel-no-border hidden" id="send_button" aria-hidden="true" >
          {{ button_macro.button_component(data = (templateData | tojson('send_button') )) }}
        </div>
        <div class="panel panel-border-narrow hidden" id="correct_errors" aria-hidden="true" >
          <p><strong>Correct any errors in CID and <a href="javascript:window.location.reload();">search again</a></strong></p>
        </div>

    </form>
  </div>

{% endblock %}

{% block page_scripts %}
  <script src="{{ asset_path }}javascripts/vendor/parsley/parsley.min.js"></script>
  <script src="{{ asset_path }}javascripts/form-utilities.js"></script>
  <script src="{{ asset_path }}javascripts/details.js"></script>
{% endblock %}


{% block dev_scripts %}
  <script src="{{ asset_path }}javascripts/dev/jquery.mockjax.min.js"></script>
  <script src="{{ asset_path }}javascripts/dev/mockdata.js"></script>{# mock data to use for dev #}

  <script>
    // mock ajax responses for this page

    // get applicant details
    $.mockjax({
      url: /^\/application\/([\d]{4})-([\d]{4})-([\d]{4})-([\d]{4})$/,
      responseText: GOVUK.mockData.validApplication
    });

    // post applicant course details
    $.mockjax({
      url: /^\/message\/send$/,
      responseText: GOVUK.mockData.successfulGrant
    });


  </script>
  
{% endblock %}
